<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/santhosh.krishnan/eclipse-workspace/Demo_session_1/src/test/java/Lab_Selenium_Webdriver/Lab6_Q1.java"><classes/></test></suite>